@model web_clima.Models.UserModel

@{
    ViewData["Title"] = "Perfil do Usuário";
}

<h1>@ViewData["Title"]</h1>
<p><strong>Nome Completo:</strong> @Model.FullName</p>
<p><strong>Cidade:</strong> @Model.UserCity</p>
<p><strong>Email:</strong> @Model.Email</p>
<p><strong>Login:</strong> @Model.UserName</p>